/* Light mode styles */
body {
    background-color: white;
    color: black;
}

/* Dark mode styles */
body.dark-mode {
    background-color: black;
    color: white;
}

/* Toggle button styles (optional) */
.toggle-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
}

/* Moved styles from bell.html */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.indent {
  text-indent: 2em; /* Adjust the value as needed */
}
.clock {
    font-size: 5em;
    margin: 20px;
}
